<div class="row scrollable">
	<div class="col-sm-12 section scrollable-content">
		<form role="form">
			
			<fieldset>
			<div class="form-group" >
				<label>Lastname</label>
				<input type="text" ng-model="member.lastname"  class="form-control">
			</div>
			<div class="form-group" >
				<label>Firstname</label>
				<input type="text" ng-model="member.firstname"  class="form-control">
			</div>
			<div class="form-group" >
				<label>Middlename</label>
				<input type="text" ng-model="member.middlename"  class="form-control">
			</div>
			<div class="form-group" >
				<label>Cellphone</label>
				<input type="text" ng-model="member.cell_phone"  class="form-control">
			</div>
			<div class="form-group" >
				<label>Address</label>
				<textarea ng-model="member.address" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label>Baptismal Date</label>
				<input type="text" ng-model="member.baptismal_date" class="form-control">
			</div>
			<button class="btn btn-primary btn-block">
				Update
			</button>
			</fieldset>
		</form>
	</div>

</div>
