<div class="row scrollable">
	<div class="scrollable col-sm-12 scrollable-content" ui-scroll-bottom="bottomReached()">
		
		<table class="table table-striped">
			<thead>
				<th>id</th>
				<th>Name</th>
				<th>Contact</th>
				<th>Edit</th>		
			</thead>
			<tbody ng-repeat="member in members">
				<tr>
					<td>{{ member.id }}</td>
					<td>{{ member.lastname + ', ' + member.firstname }}</td>
					<td>{{ member.cell_phone }}</td>
					<td><a href="#edit-member/{{ member.id }}">Edit</a></td>
				</tr>
			</tbody>							
		</table>		
	</div>	
</div>


